body {
    background-image: url('../img/fondofor.jpg');
    background-size: cover;      
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif; 
    padding: 20px; 
}

.pregunta { 
    margin-bottom: 20px; 
}

.resultado { 
    font-weight: bold; 
    margin-top: 30px; 
    text-align: center;
}

.titulo {
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.volver{
    text-align: right;
}

.formularioCaja{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    max-width: 700px;
    margin: 50px auto;
    box-shadow: 0 4px 15px (0, 0, 0, 0.2);
}